*{
    padding: 0;
    margin: 0;
}

.secao-topo{
    border-bottom: 1px solid #d5d5d5;
}

.secao-topo p{
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

.width-limited{
    width: 800px;
    margin: 0 auto;
}

.secao-background-capa{
min-height: 400px;
background-image: url('/img/capa.jpg');
background-size: cover;
}

.secao-background-conteudo{
text-align: right;
padding: 50px 20px;
}

.secao-conteudo{
padding: 50px 20px;
margin: 50px auto ;
line-height: 30px;
}

.secao-conteudo span{
border-left: 1px solid;
padding-left: 10px;
font-size: 20px;
}

.img-conteudo{
max-width: 250px;
max-height: 180px;
}

.background-img{
    min-height: 150px;
    background-image: url(/img/fundo.jpg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: rgb(255, 255, 255);
    text-align: center;
}

.background-img h3{
    padding-top:50px ;
}

h1, h2{
    margin-bottom: 10px;
}


